.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
  }

#time {
    justify-content: center;
    align-items: baseline;
}

.digit {
    font-size: 4rem;
    font-family: monospace;
}

.txt {
    font-family: monospace;
}

  